<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Albums</title>
</head>
<body>
<h1>Albums</h1>
<ul>
    <li th:each="album : ${albums}">
        <h2 th:text="${album.title}"></h2>
        <p>Artist: <span th:text="${album.artist}"></span></p>
        <p>Song count: <span th:text="${album.songCount}"></span></p>
        <p>Length: <span th:text="${album.length}"></span> seconds</p>
        <img th:src="${album.imageUrl}" alt="Album cover" />
    </li>
</ul>
</body>
</html>
